@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-gradient {
  position: relative; /* This ensures the ::before is relative to this element */
}

.landing-gradient::before {
  content: ""; /* Empty content for the pseudo-element */
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.10) 0%, #052133 100%), url('/01.jpg');
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* This will stretch the pseudo-element to cover the entire parent */
  position: absolute;
  z-index: -1;
}


