@import url("https://use.typekit.net/qpe8ebz.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


.landing-gradient {
  position: relative; 
}

.landing-gradient::before {
  content: ""; 
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.10) 0%, #052133 100%), url('/01.jpg');
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  position: absolute;
  z-index: -1;
}

.bg-image {
  background-image: url('/Layers.svg');
  background-position: 0 center ;   
  background-repeat: no-repeat;  
  background-size: contain;   
}

.about-gradient, .fishes-gradient {
  position: relative;
}

.about-gradient::before {
  content: "";
  background-image: linear-gradient(180deg, #052133 0%, #041D2F 100%);
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.fishes-gradient::before {
  content: "";
  background-image: linear-gradient(180deg, #041D2F 0%, rgba(4, 29, 47, 0) 29%, rgba(4, 25, 43, 0) 73%, #04192B 100%), url('/02.jpg');
  background-size: cover;
  top: -1px;  
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}



.blue-gradient {
  position: relative;
}

.blue-gradient::before {
  content: ""; 
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, #052133 100%);
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  position: absolute;
  z-index: -1;
}

